[2015-02-18 00:36] razagill opened #1 "Error while parsing"
Hi,
I'm using the component and packaging via gulp however I'm getting this error:
[code]

[2015-02-20 00:26] pburtchaell commented on #1
Hey @razagill, from the README:

I'm still working on the component. I will keep this issue open until I finish it.

[2015-02-20 00:46] pburtchaell opened #2 "Unit Tests"
Need to create unit tests.

[2015-03-19 01:24] RacingTadpole opened #3 "react-classes is a dev-dependency"
Hi, I just tried installing your package with npm, and it did not install the dependency on react-classes.  I think you need to put `"react-classes": "^1.0.3"` into `dependencies`, not `devDependencies`.  Thanks!

[2015-03-19 01:32] RacingTadpole opened #4 "Error on require('react-notification')"
When I add

    var Notification = require('react-notification');

to the top of my jsx component (even with no `<Notification>` tags yet), I get the error:

[code]

Have you seen this?  I'm using React 0.12.2.  Thanks!

(PS. Did you mean for your class names to be missing one of the 'i's in notification?)

[2015-03-22 02:05] pburtchaell commented on #1
@razagill Just a heads up that I released v1.0.0 today. Checkout the README.

[2015-03-22 02:05] #1 closed

[2015-03-22 02:05] pburtchaell commented on #3
Fixed in the latest release.

[2015-03-22 02:05] #3 closed

[2015-03-22 02:06] pburtchaell commented on #4
Fixed in the latest release.

[2015-03-22 02:06] #4 closed

[2015-03-22 02:06] #2 closed

[2015-03-22 02:22] pburtchaell opened #6 "OS and Browser Notifications"
I think it would be useful to have a way to trigger OS/browser notifications that use `this.state.message`. Perhaps `Notification.dispatch()` or `Notification.sendOSNotification()`.

[2015-03-22 18:39] dotted opened #8 "JSX is not precompiled"
JSX isn't precompiled so when compiling it I get:

    ERROR in ./~/react-notification/web_modules/notification.js
    Module parse failed: /home/[..]/node_modules/react-notification/web_modules/notification.js Line 128:
    Unexpected token <
    You may need an appropriate loader to handle this file type.
    |   render: function () {
    |     return (
    |       <div className="notificiation-

[2015-03-22 19:38] razagill commented on #1
Nice, I'll have a look soon.

[2015-03-22 20:40] pburtchaell commented on #8
Why not use use a compiler? Are you using this server-side?

[2015-03-22 20:57] dotted commented on #8
I'm not using it server side, I'm using webpack, but I have excluded my node_modules folder in order to decrease transpile time.

There are 2 options as I see it to solve this on my end, neither of which is ideal.

- Havel babel-loader traverse my node_modules folder, increasing my compilation time from my current 4 seconds to over 30 seconds.
- Special case react-notification in my webpack config

[2015-03-22 21:22] pburtchaell commented on #8
Added in the compiled code on the v1.1.0 branch.

You can install it with `npm install git://github.com/pburtchaell/react-notification.git#v1.1.0`

Let me know if that works for you and I will merge and publish to npm.

[2015-03-22 21:25] dotted commented on #8
Works on my end, thanks!

[2015-03-22 21:30] pburtchaell commented on #8
Great. v1.1.0 is released to npm. Closing.

[2015-03-22 21:30] #8 closed

[2015-05-27 09:33] Neablis opened #14 "Error in dismissing on timeout"
[code]

this.hide is undefined since this is Window object.
please change to
[code]

[2015-05-27 16:03] pburtchaell commented on #14
I see you made a PR for this so I'll check it out and merge that in this week. Copying @cayuu since he created the `dismissAfter` prop.

[2015-05-27 16:25] cayuu commented on #14
*facepalm* - multiple versions of code left a set of brackets in there when I checked it in. It *should* work just fine by passing the function, not the invoked output (`this` is scoped correctly in `setTimeout` so long as you're not inside the closure):

[code]

Calling `self.hide()` or `that.hide()` is the wrong behaviour. I'll not this on the PR.

[2015-06-07 16:28] pengux opened #17 "Multiple notifications at the same time"
Is it possible to show multiple notifications at the same time? I've check the source, but didn't see a way to do it.

[2015-06-07 20:46] pburtchaell commented on #17
It is certainly possible if you give each notification a different `ref`. The trouble you would probably run into is styling the notification appropriately so that the notifications stack on top of each other.

[2015-06-07 20:47] #14 closed

[2015-06-11 01:48] TeckniX opened #18 "styles.action direction"
Anyway to add support for the 'active' style, so that you could add the 'active' object to the element props?

Maybe something like:
[code]

I also modified the order of how the styles are build allowing the active style to be set, then a merge of prop styles and default, then finally figuring out if you're sending the active or simply merged styles

[2015-06-11 03:25] pburtchaell commented on #18
@TeckniX yeah, this is something I can do. I'll look into it this week.

[2015-06-11 14:38] TeckniX commented on #18
Thanks! I think the above example should be pretty close.

[2015-06-21 07:13] halhelms opened #19 "dismissAfter is not working"
Everything else seems to be working fine but in both Safari and Chrome, the dismissAfter doesn't hide the notification. Is this a known issue?

[2015-06-24 09:59] web2style commented on #19
I'm experiencing the same issue. Any ideas?

[2015-06-25 04:41] tran2 commented on #19
The code doesn't actually use the dismissAfter value to hide the notification. I've created a pull request to fix that. For now you might want to do your own timer and call Notification.hide on your own.

[2015-06-26 21:30] pburtchaell commented on #19
Hey guys, sorry for the delay on this. It has been a busy week. I'm going to look into it this weekend. A couple of weeks I started rewriting the component in ES6 so I make sure the prop is properly working when I release it.

[2015-07-10 16:46] pburtchaell commented on #17
Just a note that I am working on this in the version 2.0.0 release if you want to take a look. There is an example with multiple styles.

[2015-07-10 16:47] pburtchaell commented on #19
Just a note that I am working on this in the version 2.0.0 release if you want to take a look.

[2015-07-10 16:50] pburtchaell commented on #19
Closing as this is resolved by #20. If you still have issues, please reopen.

[2015-07-10 16:50] #19 closed

[2015-07-11 11:42] pengux commented on #17
Looking forward to it :+1:

[2015-07-11 13:02] pburtchaell commented on #18
@TeckniX Just FYI, this will be fully supported in version 2.0.0 as:

[code]

[2015-07-11 14:05] #18 closed

[2015-07-11 14:25] pburtchaell commented on #17
Alright, just pushed up [the example](https://github.com/pburtchaell/react-notification/blob/master/examples/es2015/index.js). Let me know if you think it would work for what you are doing.

The notification component has no state nor any knowledge of other notifications; it is up to you how you control the position of multiple notifications. I am, however, not opposed to adding logic to the notif

[2015-07-12 16:53] TeckniX commented on #18
:+1:

[2015-07-17 15:50] #6 closed

[2015-07-24 08:56] maikdiepenbroek opened #23 "Typo in props and example"
In the props table and example you define "styles" (notice the extra 's').

I had to look into your code example to find out it was without the extra 's'.

[2015-07-24 14:19] pburtchaell commented on #23
Fixed. Thanks for letting me know and sorry for the trouble.

[2015-07-24 14:19] #23 closed

[2015-07-24 22:24] #17 closed

[2015-08-12 01:11] luisrudge opened #24 "use css transform to use gpu acceleration"
hey, nice component! what do you think about using css transform instead of `left` values?

[2015-08-12 03:04] pburtchaell commented on #24
I would be fine with that. Please feel free to make a PR if you'd like. :smile:

[2015-08-12 03:23] luisrudge commented on #24
Ok. I'll try that :)

[2015-08-12 20:25] luisrudge opened #25 "make action not required"
Not every notification need an action, right?

[2015-08-15 16:29] pburtchaell commented on #25
This is released to npm as `react-notification@2.1.0`. If you have `action={false}` on the component, there will be no action included.

[2015-08-15 16:29] #25 closed

[2015-09-04 13:09] pburtchaell opened #28 "Unsupported vendor-prefixed style property oTransform"
[code]

[2015-09-04 13:10] pburtchaell commented on #24
Resolved by #27.

[2015-09-04 13:10] #24 closed

[2015-09-04 15:39] #28 closed

[2015-09-13 06:14] pengux commented on #17
Well, if option 1, then you need to keep another state in your application and sets/unsets it correctly when your notification change. I rather have the component do all this for me and just pass in an array of notifications to have them displayed in the order they are in the array. It's more convenient...

[2015-09-18 23:44] That-David-Guy opened #29 "dismissAfter not working"
Hi, nice component!

I'm having some trouble with the dismissAfter. I followed your guidelines and have the following in my render component.

[code]

But it doesn't dismiss after 2 seconds. Is there something I'm missing?

[2015-09-19 18:15] pburtchaell commented on #29
What does your `_onNotificationDismiss` function look like?

[2015-09-20 00:43] That-David-Guy commented on #29
[code]
I'll try using the `this.state.isActive`

[2015-09-20 00:43] That-David-Guy commented on #29
[code]

[2015-09-20 13:54] pburtchaell commented on #29
I think you need to check your function names. The onDismiss prop calls the function `this._onNotificationDismiss`, which does not exist.

[2015-09-21 00:22] pburtchaell commented on #29
I'm closing this issue as it is not an issue with the source of this component.

[2015-09-21 00:22] #29 closed

[2015-09-21 00:48] That-David-Guy commented on #29
Damn, that's embarrassing.

Works like a charm now, thanks!

[2015-09-21 01:20] pburtchaell commented on #29
No worries! It happens. :smile:

[2015-09-23 21:52] idolize opened #30 "How to use with an array of notifications?"
The behavior of using `isActive` to *perform the slide in/out transitions* does not work if you render multiple notifications based on an array like so:

[code]
(Instead, the components just mount/unmount instantly and never do the slide in/out animation)

Using `isActive` to show/hide notifications works fine if you only have one or two notifications, like in the example, but I believe in the rea

[2015-09-24 16:32] MohsinTariq10 opened #34 "Meteor Package"
Can you package it for meteor? As there is no notification system package for meteor-react at atmospherejs.

[2015-09-27 18:48] pburtchaell commented on #34
I am not familiar with Meteor so I am not sure what this would entail. If you can provide me with some instruction or a guide, I would be happy to work with you to publish it for Meteors as well.

[2015-09-27 19:04] pburtchaell commented on #30
The idea with the component is you would have one component and your message (and action, if it used) values would change for each new notification, e.g., when "notification A" is emitted the component uses the message from "notification A" and when "notification B" is emitted the component uses the message from "notification B".

[2015-09-28 18:35] idolize commented on #30
Fair enough; so with this library "stacking" notifications is not really a supported scenario?

[2015-10-02 15:23] pburtchaell commented on #30
I am sure you could achieve it with a bit of work/hacking, but I wouldn't say that it is built for that out of the box. I am happy to look at some ideas for how we could change it to work with your question though.

[2015-10-08 20:00] simonbengtsson opened #36 "Action icon"
Is it possible to use an icon as action instead of text for example using Bootstrap glyphicons, font awesome or a regular png? Thanks for an awesome library anyhow!

[2015-10-08 20:22] simonbengtsson commented on #36
Never mind, forgot for a moment that you could simply do something like this.

    <Notification action={<span className="fa fa-ban"></span>} />

[2015-10-08 20:22] #36 closed

[2015-10-30 00:32] #34 closed

[2015-11-05 16:13] meta-meta commented on #30
My solution looks like this. I've since changed the onDismiss in NotificationList to use UIDs as keys instead of index, which allows for duplicate notifications. Sorry about the formatting.

[code]

[code]

[2015-11-05 17:57] pburtchaell commented on #30
:+1: I like this approach.

I would not mind building this as a separate `<NotificationTree />` component that people could optionally use by `import NotificationTree from `react-notification/tree`. Having it as a separate component would be best because we don't want to include all the code for it in the build of people who are just using the single notification component.

If you want to make a

[2015-11-05 20:46] meta-meta commented on #30
Thank you, I'll have to clear it with my client and refine it a bit. I agree about having it as a separate component.

[2015-11-06 21:54] 9mm commented on #30
That would be amazing. This is a cool component but it seems kind of unusable without the traditional stacking of notifications.

[2015-11-11 16:01] meta-meta commented on #30
I'll get to this by the end of the week. My client gave the go-ahead.

[2015-12-08 04:52] 18601673727 commented on #30
:+1:   I'm waiting on this so much.

[2015-12-08 16:32] pburtchaell commented on #30
I'm working on it. :smile: I have been a bit slammed with work & final exams at school. I hope to get it released within the next two weeks!

[2015-12-14 11:15] unkw opened #42 "Need notifcation without action"
Action option is required...

[2015-12-14 16:05] pburtchaell commented on #42
I'm open to this. Can you make a PR that implements it? I will be busy over the next few weeks.

[2015-12-30 23:20] pburtchaell commented on #42
Actually, I forgot, but actions haven't been required for a while. Someone had made a PR for this but didn't update the docs. If you pass in `action={false}` then the default action should not show up.

[2015-12-30 23:20] #42 closed

[2015-12-30 23:24] pburtchaell commented on #30
This has been released in `react-notification@4.0.0`.

Please let me know if you have any issues. I eliminated the issues I discovered during the process of preparing this for a release, but I also have not used this in production yet.

If you need a demonstration of how it works, there is a [working example](https://github.com/pburtchaell/react-notification/blob/master/examples/notification-tree/

[2015-12-30 23:24] #30 closed

[2016-01-13 06:45] juliogarciag opened #43 "DismissAfter is hardcoded in notification stack"
When using the stack like this:

[code]

The `dismissAfter` property is always 2000. I found here:

https://github.com/pburtchaell/react-notification/blob/master/src/notificationStack.js#L23

that the `dismissAfter` property is not being honored when the property is passed to stacked notification and the 2000 values is hardcoded.

[2016-01-14 14:37] pburtchaell commented on #43
Thanks for bringing this to my attention. I am happy to fix it but I will be unavailable to do so for the next few weeks—busy with work and returning to school. If you are willing to make a PR, that would be great! :smile:

[2016-01-15 03:51] Itdotaer opened #44 "Can't import notificationStack"
Hi, why I can't import 'notificationStack' to my projects when using
```var NotficationiStack = require('notificationStack');```. I can only use this component like this:

[code]

And I see your projects's package.json file, found that you mainly import "dist/notification.js" to this npm module.

I advice you can sort all the Notification components to an obj and then export, and then we can using

[2016-02-05 16:22] pburtchaell commented on #44
Sorry about this issue! It slipped through the cracks when I did the release... I'll get a patch pushed out over the next few days. I agree exporting an object works best. :smile:

[2016-02-10 21:59] pburtchaell commented on #44
This is resolved with the release of [version `4.1.1`](https://github.com/pburtchaell/react-notification/releases/tag/4.1.1).

[2016-02-10 21:59] #44 closed

[2016-02-15 14:22] pburtchaell commented on #43
This is fixed in `react-notification@4.2.0`. Thanks to @sergiofm for the PR. :smile:

[2016-02-15 14:22] #43 closed

[2016-02-22 07:19] markortiz opened #46 "Actions Link on NotificationStack"
I would like to add an `x` or `close` link on `NotificationStack`.
Currently, `NotificationStack` will just fade away after several secs that is set.
How can I stack multiple `Notification` with `action` and `onClick` props?

[2016-02-22 09:13] markortiz opened #47 "Overlapping NotificationStack"
`NotificationStack` is overlapping over each other instead of adding it at the top of the previous stack.

[2016-02-22 14:10] pburtchaell commented on #47
I'm happy to figure out what is going on, but can you provide some more context please? A screenshot or gif of the issue as well as an example of your code would be useful. Could you also inspect the DOM and send me examples of the DOM Node tree for the component?

[2016-02-22 14:12] pburtchaell commented on #46
As of right now, there is no way to have an `action` and `onClick` on the notifications due to issues it would cause with the timing and animations on the stack. This is certainly something I would like to add in the future, but as of present, I did not have the resources to implement it in this version. I am going to mark this as an enhancement as it is certainly something to work on in the next

[2016-02-23 02:12] markortiz commented on #47
I just clone your master and run `npm start` and this is what I got.

![animation](https://cloud.githubusercontent.com/assets/1829168/13239494/b998df24-da15-11e5-9f0b-e7ea53e3b739.gif)

[2016-02-23 02:13] markortiz commented on #46
Cool! Looking forward to it!

[2016-02-25 19:44] pfraze commented on #47
I'm experiencing this as well

[2016-02-25 19:50] pfraze commented on #47
https://github.com/pburtchaell/react-notification/blob/master/src/notificationStack.js#L27

That's the issue, it should be merging those styles instead of choosing between them

[2016-02-26 22:40] kwhitaker opened #48 "How do you style notifications in the stack?"
I see some code in the `NotifcationStack` component, but when I try to provide a `style` key to my messages, it doesn't seem to be recognized.

[code]

[2016-02-28 22:35] pburtchaell commented on #48
I think there are some overarching issues with styles in general for the `NotifcationStack`—see issue #47. I am not available presently, but when I have some time this week I'm going to review the code and make sure this issue is resolved. :smile:

[2016-02-28 22:36] pburtchaell commented on #47
Great. I am not available presently, but when I have some time this week I'm going to review the code and make sure this issue is resolved. :smile:

[2016-03-02 10:39] uro5h commented on #47
Quick fix would be to provide style object to notification.add():

`this.state = {
            notifications: OrderedSet()
}

...

return this.setState({
            notifications: notifications.add({
message: 'some message',
key: someKey,
style: {
                        bar: {
                            bottom: (2 + notificationCount * 4) + 'rem' // tweak as you like
                        }

[2016-03-07 07:04] chmac commented on #47
@pburtchaell Any updates? Looks like we're hitting the same issue...

[2016-03-07 07:05] chmac opened #50 "NotificationStack requires onDismiss"
I think the issue is [here](https://github.com/pburtchaell/react-notification/blob/master/src/notificationStack.js#L24). The `onDismiss` function doesn't check to see if `this.props.onDismiss` exists or not.

[2016-03-17 03:18] pburtchaell commented on #48
This should be fixed in `react-notification@5.0.0`. Keep in mind the [breaking changes](https://github.com/pburtchaell/react-notification/releases/tag/5.0.0), which are documented in the release as well as the README.

[2016-03-17 03:18] #48 closed

[2016-03-17 03:18] pburtchaell commented on #47
This should be fixed in `react-notification@5.0.0`. Keep in mind the [breaking changes](https://github.com/pburtchaell/react-notification/releases/tag/5.0.0), which are documented in the release as well as the README.

[2016-03-17 03:18] #47 closed

[2016-03-17 03:18] pburtchaell commented on #50
Yes, the NotificationStack requires an `onDismiss` function in order to remove notifications from the stack when the timer runs out. This is a required property. [See the example](https://github.com/pburtchaell/react-notification/blob/master/examples/notification-tree/index.js).

[2016-03-17 03:18] #50 closed

[2016-03-17 05:52] Vivekbhusal opened #53 "Dynamic Notification on action dispatch"
Can you please help me understand. How can I display Notification after a dispatch of action? Let say, I want to display "UNDO" notification after I dispatch "delete" action.

An example would be very helpful.

[2016-03-17 13:05] pburtchaell commented on #53
What are you using flux or Redux? It is hard to explain how to approach this without more context. I generally approach this in my apps (where I use Redux) by having a notification reducer that is connected to the `<Notification />` component. Whenever I want the notification to show, I dispatch an action that described the notification message, action and onClick handler. The onClick handler in t

[2016-03-17 16:00] pfraze commented on #47
Thanks!

[2016-03-18 04:05] Vivekbhusal opened #54 "Action on NotificationStack"
I am not sure why its hardcoded to not display `action` on NotificationStack.
https://github.com/pburtchaell/react-notification/blob/master/src/stackedNotification.js#L34

[2016-03-18 06:07] pburtchaell commented on #54
Please see issue #46. :smile:

[2016-03-18 06:07] #54 closed

[2016-03-18 06:10] pburtchaell commented on #53
I am closing this issue because the question is outside the scope of the project and I am not sure I will be able to help you more. If you need further assistance I would recommend a different source such as StackExchange or [the Redux community on Discord](https://discordapp.com/invite/0ZcbPKXt5bZ6au5t). :smile:

[2016-03-18 06:10] #53 closed

[2016-03-18 15:20] i-do-not-know-how-to-code opened #55 "How to use this?"
Hello, yes. I would like for you to please tell me how to write an application to use this. Your README does not tell me how.

Thanks you for your help, I am most grateful.

[2016-03-18 23:16] #55 closed

[2016-03-19 14:58] i-do-not-know-how-to-code commented on #55
Hello, yes. I do not understand why this closed. I would like help. If this is wrong place, please tell me where to find the help I am in need of.

Thanks you muchly kind sir, I am most grateful.

[2016-03-19 15:02] pburtchaell commented on #55
I closed this issue because your request is outside the scope of the project and it is not my responsibly to explain to you how to code. If you need assistance I would recommend a different source such as StackExchange or [the React community on Discord](http://www.reactiflux.com).

[2016-03-19 15:06] i-do-not-know-how-to-code opened #56 "thank you"
Sir, hello. I wanted to give you thanks for the help that you have provided me. I will join the community and report back to you on my progress. You are most kind and I thanks the gods for your presence in this world. Blessings to you and your family as you make your way on this most sacred planet.

Thanks you. Most blessings upon you.

[2016-03-19 15:09] #56 closed

[2016-03-22 17:51] brianespinosa opened #57 "Override value of "bottom" CSS attribute"
I looked through the code for this component and it appears that the `bottom` CSS attribute is hard coded in this component with the logic for placement passed on to each notifications. Are you opposed to a solution that would allow the `barStyle` property to also set `bottom` in a dynamic way?

[2016-03-22 18:19] pburtchaell commented on #57
Part of the problem is the dynamic position is determined using a numeric value and then the unit is concatenated with the numeric value, e.g., `barPositon + 'rem'`. I am not opposed to add this, but I think there would need to be two new props introduced: `bottomPositionUnit` and `bottomPosition`.

[2016-03-22 18:28] brianespinosa commented on #57
Yeah, that was what I was thinking. It would need to be a prop specific to NotificationStack. I mainly wanted to confirm you were okay with this before I did the work and submitted a PR. I will update the README documentation for NotificationStack also to reflect that barStyle and others can now be passed to children from your last update.

[2016-03-22 22:20] pburtchaell commented on #57
Awesome! I'll keep an eye out for the PR. :smile:

[2016-04-03 16:06] pburtchaell opened #60 "ESLint breaking tests"
[code]

[2016-04-03 17:34] #60 closed

[2016-04-11 11:48] #46 closed

[2016-04-11 11:50] pburtchaell commented on #46
This is released in version 5.0.3.

[2016-04-11 11:58] pburtchaell commented on #57
Another possible approach to this: make `barStyle` a function and the argument can be the index of the notification.

[code]

[2016-04-22 15:57] samcorcos opened #65 "Uncaught TypeError: Object.assign is not a function"
I feel like I must be missing something obvious here. I'm getting the error:

`Uncaught TypeError: Object.assign is not a function`

The error is caused by the `isActive` ternary:

[code]

Do I need to add a polyfill in order to get this package to work?

I'm using webpack and babel for compilation. If you want to see my config, I can add it.

[2016-04-22 23:29] pburtchaell commented on #65
`Object.assign` should be covered by the babel polyfill. Is it include in your project?

[2016-04-23 00:26] samcorcos commented on #65
Yeah, I wasn't using polyfill in my entry point. I changed it to the following and everything worked.

[code]

Might be worth noting in the docs that the polyfill is necessary, but it sounds like everyone else already knew how to solve this. Thanks for putting this together! Saved me a lot of time.

[2016-04-23 00:26] #65 closed

[2016-05-01 02:27] pdeva opened #66 "onDismiss broken in 5.0.3"
It seems #61 broke the `onDismiss` behavior completely.
The event doesnt fire at all now.

The last working version is 5.0.1

[2016-05-02 07:21] pburtchaell commented on #66
Thanks for reporting this. @elrumordelaluz do you have any insight on the issue?

I don't have time to review the code this week, but if either of you see the issue and can make a PR I would appreciate it. Otherwise, I will get to it as soon as I can next week.

[2016-05-02 08:33] elrumordelaluz commented on #66
@pburtchaell I'm sorry, my fault. [this](https://github.com/elrumordelaluz/react-notification/commit/34d5d31a48fb5b58805d693c2e00f9a32e3f7c28) should work.

Please let me know what do you think about _detect_ between Stacked Notification and Normal Notification using `isLast`.

[2016-05-02 20:26] pburtchaell commented on #66
I think this should work @elrumordelaluz. If you have time, can you also add a unit test to cover this issue?

[2016-05-03 08:53] elrumordelaluz commented on #66
Sure @pburtchaell .

Will try to put something this week.

[2016-05-06 01:30] #66 closed

[2016-05-13 11:17] gpietro commented on #66
Still not working on version 5.0.4 # #68 # @pburtchaell

[2016-05-13 12:06] elrumordelaluz commented on #66
@gpietro could you show what behaviour you get?

![react-notif-simple](https://cloud.githubusercontent.com/assets/784056/15247299/a187e5e6-1913-11e6-9cff-4d7d4d4f4359.gif)

All seems ok for me: `onDismiss` fires on:
- clicking _show/hide_ button
- automatically after `dismissAfter` timeout
- clicking _dismiss_ notification button

[2016-05-13 12:50] gpietro commented on #66
I'm wrapping the component but the onDismiss is never reached (dismissAfter set at 2000 as default). Only works on version 5.0.2.
[My wrapper code](https://gist.github.com/gpietro/3fd2f5891882f62e89b3873e35530f37)

[2016-05-13 16:09] elrumordelaluz commented on #66
@gpietro did you tried binding `onDismissNotification` in the `constructor()` like:

[code]

or calling it like `onDismiss={this.onDismissNotification.bind(this)}` ?

I think in your actual code shouldn't work `onClick`, right?

[2016-05-13 16:46] pburtchaell commented on #66
@gpietro You could also directly fire `onDismiss={NotificationActions.notification.dismiss}`. It's not really necessary to wrap it in another function.

[2016-05-17 10:19] RamonBeast commented on #57
I found this issue while looking for a solution and that's a good idea, at least placement of the notifications can be more flexible.

[2016-06-22 15:55] joewang704 opened #70 "onDismiss still not working on 5.0.5"
The following code works with the onClick but does not dismiss after 2 seconds. I tried with manually adding in a dismissAfter value, still doesn't seem to work. I tried logging from the function and it just never gets called. Any ideas why?
[code]

[2016-06-22 20:07] radicaled opened #71 "NotificationStack.onDismiss is required?"
https://github.com/pburtchaell/react-notification/blob/87b2f0b24b396f68c18bf4a4cda054af9a76b9cd/src/notificationStack.js#L24

[code]

If `onDismiss` isn't present, we get an undefined method error. However, the proptypes don't require this:

[code]

Not sure if bug in `propTypes` or bug in how `onDismiss` is used.

[2016-06-23 00:40] radicaled commented on #70
I think this is because the code is using `componentWillReceiveProps` in order to set the dismiss timer, however this isn't present on the initial render of a `<Notification />`, which means the timer never gets triggered.

https://facebook.github.io/react/tips/componentWillReceiveProps-not-triggered-after-mounting.html

I've worked around it by copy-pasting the code here into my app, for the time

[2016-06-26 00:06] pburtchaell commented on #70
So this is probably a bug, or at least something we should rethink, but due to the way it is handled, you need to initially mount the component with `isActive` having a value of `false`. Otherwise, the timeout for dismiss will not trigger.

[code]

[2016-06-26 00:10] pburtchaell commented on #71
Yes, `onDismiss` is required. This is patched in `react-notification@5.0.6`. 😄

[2016-06-26 00:10] #71 closed

[2016-06-26 00:40] joewang704 commented on #70
@pburtchaell Ok so then the problem is probably because you're using componentWillReceiveProps as @radicaled mentioned, which doesn't get called on the initial render, only after you change the value of a prop after rendering, which is what you're mentioning with isActive.

[2016-06-26 00:44] pburtchaell commented on #70
Correct, @joewang704. I'll need to change how this is implemented.

[2016-06-26 18:55] #70 closed

[2016-06-26 18:55] pburtchaell commented on #70
This is patched in `react-notification@5.0.7`.

[2016-06-28 17:39] JasonEtco opened #73 "Pass HTML as message"
Hey! I love this package, it's wonderful. However, right now I'm trying to pass some HTML markup as the message, but as far as I understand I can only pass it as a string or a React component.

Am I doing something wrong, or will you be adding this feature if it doesn't already exist?

Thanks!

[2016-06-28 17:55] pburtchaell commented on #73
@JasonEtco Can you clarify what you mean by HTML markup? [The prop accepts elements](https://github.com/pburtchaell/react-notification/blob/master/src/defaultPropTypes.js#L4-L7).

[2016-06-28 18:00] JasonEtco commented on #73
@pburtchaell sure;

I've been able to use:
[code]
And then passing that as the message. However, I'm fairly certain there's a smarter way of doing this. Any chance you could help me out?

By the way, I've refashioned the adding/removing notification functions into Redux actions/reducers, and I'm passing the message differently for every different action.

[2016-06-29 02:48] pburtchaell commented on #73
I'll need a bit more context. @JasonEtco. Can you provide me with the code the notification component is wrapped in?

[2016-06-29 23:10] tomhah opened #74 "Getting warning in console when using NotificationStack"
![screen shot 2016-06-30 at 01 09 45](https://cloud.githubusercontent.com/assets/1107248/16471804/71e9a3c6-3e5f-11e6-84a6-7f4e1762a945.png)

Nevermind, I wasnt passing the key property...

[2016-06-29 23:13] #74 closed

[2016-06-30 02:41] JasonEtco commented on #73
@pburtchaell I'm not sure any more code would help you; I'm giving it the `message` prop in a normal way. I think my confusion is in creating a React element. I may have figured it out though, by using `React.createElement` (which is a little bulky, but hey it works).

[2016-06-30 03:20] pburtchaell commented on #73
Yep, that method works. Let me know if you have any other issues.

[2016-06-30 03:20] #73 closed

[2016-07-01 06:41] varun-raj opened #75 "How can I change the animation ?"
I want to change the animation. Instead of  slideIn from left, I want to use slideUp from bottom. Any idea about this ?

[2016-07-01 07:41] pburtchaell commented on #75
You need to override [these values](https://github.com/pburtchaell/react-notification/blob/master/src/notification.js#L59-L68) using the `style` prop.

[2016-07-01 07:41] #75 closed

[2016-07-04 18:38] pburtchaell commented on #57
@brianespinosa, any interest in making a PR for this?

[2016-07-05 11:57] cristian-sima opened #76 "examples not found"
On [this page](https://www.npmjs.com/package/react-notification), click

![image](https://cloud.githubusercontent.com/assets/12199042/16583831/c83f4e32-42c0-11e6-8045-d916e199e10e.png)

results in 404

[2016-07-05 12:32] cristian-sima opened #77 "Remove all inline styles"
Hi.

I want to use [these classes ](http://v4-alpha.getbootstrap.com/components/alerts/), but when I add them nothing is changing.

If I set `style` to false, the animation is no longer working

[2016-07-05 15:29] pburtchaell commented on #76
The link should be directing you to [this page](https://github.com/pburtchaell/react-notification/tree/master/examples), but it appears to be broken.

[2016-07-05 15:31] pburtchaell commented on #76
Resolved: https://github.com/pburtchaell/react-notification/commit/395d007b9c9dc68d69bcba566004260f2faf7c38

[2016-07-05 15:31] #76 closed

[2016-07-05 15:42] cristian-sima commented on #77
@pburtchaell any idea here?

[2016-07-05 15:55] pburtchaell commented on #77
@cristian-sima The class names should be added to the component, but if the style is not changing, then this is a bug. I'll try to find time to patch the code and add a unit test.

[2016-07-05 16:13] pburtchaell commented on #77
I added unit tests for this: https://github.com/pburtchaell/react-notification/commit/7fc6b6264d8d5317bf49fcfa6df63f3cc905f2c7. The tests pass, which means this is not a bug and class names are added to the component.

1. Can you confirm which version of the middleware you are using?
2. Did you confirm the class name is not added?

Please keep in mind this is not an override: the styles from the c

[2016-07-05 17:31] cristian-sima commented on #77
Yes. I do not want the inline style, but I want to save the position and the animations (as I set `inlineStyle` to `false` it is disabled)

[2016-07-07 23:45] BerkeleyTrue opened #79 "Clicking on non-action area should dismiss notification"
Totally down to create a PR.

[2016-07-07 23:46] BerkeleyTrue opened #80 "Dismiss notification changes"
**Proposed changes**
- _Click on action area to dismiss_: When clicking on an action, for instance a submit action, this should also remove the active status of the notification and initiate dismiss.
-  _Click on non-action area to dismiss_ (originally #79): Dismiss when clicking anywhere on the notification, but the action.

From issue #79:

[2016-07-09 18:30] pburtchaell commented on #80
I'm closing this since it seems related to #79. Please reopen if this is a misunderstanding.

[2016-07-09 18:31] pburtchaell commented on #79
Could you explain further, @BerkeleyTrue? A use case for this request would also be appreciated. 😄 Thanks!

[2016-07-09 18:51] pburtchaell commented on #77
@cristian-sima, you can't do this with the current version of the component. However, PR #78 should provide you with a method for this.

[2016-07-10 00:10] BerkeleyTrue commented on #79
Some of our notifications are longed lived. It would be nice to give the user the option to dismiss a notification simply by interacting with it.

According to Google Material docs, this is usually done with a swiping action, but I think just a simple click is sufficient.

[2016-07-10 00:13] BerkeleyTrue commented on #80
This would be separate to #79.

When clicking on an action, for instance a submit action, this should also remove the active status of the notification and initiate dismiss.

#79 would dismiss on clicking anywhere on the notification but the action. This issue would be to optionally dismiss a notification if the action is clicked.

[2016-07-15 21:12] BerkeleyTrue commented on #79
@pburtchaell What do you think? Can I start putting something together. We are looking to get these features into production as soon as possible.

[2016-07-15 21:12] BerkeleyTrue commented on #80
@pburtchaell What are your thoughts here? This is something we would require to keep moving with this project.

[2016-07-21 06:21] pburtchaell commented on #80
@BerkeleyTrue I'll back to you tomorrow. I apologize for the delays here. I have been swamped at work lately.

[2016-07-21 17:45] #79 closed

[2016-07-21 17:52] pburtchaell commented on #80
In order to consolidate #79 and #80, I am going to merge the two issues. I also updated this issue with a description. This will help me understand the feature requests and how they relate. **My understanding of your feature requests — dismiss on action area and dismiss on non-action area — is they are mutually exclusive.** Is this correct? If so, can you explain which would be default and what th

[2016-07-21 17:56] #57 closed

[2016-07-21 17:56] #77 closed

[2016-07-21 18:02] BerkeleyTrue commented on #80
The updated description looks great.

My understanding of the material docs is that the default would be to have both of these options enabled. But I don't know if that is a good default for a library. Instead these should both be optionally enabled

I propose we change onClick to OnAction, add dismissOnAction dismissOnClick booleans

[code]

[2016-07-21 18:21] BerkeleyTrue commented on #80
Another option is to change onClick's behavior
[code]

[2016-07-24 14:53] cristian-sima commented on #77
Thank you

[2016-07-27 18:04] cristian-sima commented on #77
@pburtchaell Can you provide an example which works? Cause I have tried using Bootstrap and it does not work

[2016-07-27 18:05] cristian-sima commented on #77
It seems that the styles are no longer there, but neither the position and dimensions

[2016-07-27 18:39] BerkeleyTrue commented on #80
@pburtchaell Which option do you like?

[2016-07-28 03:45] pburtchaell commented on #80
I can't imagine a use case for `onClick`, so I'd go with the first proposal.

[2016-07-29 07:02] tvedtorama opened #82 "Programmatically dismiss notifications in notifcations stack"
Hi,

I have a notification stack, where I first removed items on my onClick() handler.  This works, but the notifications disappears without the nice animation. (The animation works when items are dismissed on timeout.)

I then switched to keeping all the notifications in the list, but instead toggling isActive on the item in the data structure passed to the stack.  Nothing happens.

What would be

[2016-08-01 08:33] hakunin opened #83 "Multiple stacks with different positions"
Hi,
I like how minimalistic yet functional this is.

One thing I am missing is being able to have mulitple stacks in different positions.

Although I can see how bottom left is the right way to do it for today's apps, migrating an app that has multiple/different positioned stacks into `react-notification` means to get the team involved even if all you want to do is to use a different library.

Upd

[2016-08-01 19:42] BerkeleyTrue commented on #83
@hakunin Because of the way react-notifications let's you manage the notifications queue, you can easily create your own separate stacks and use two instances of NotificationStack component, one for each side. Then just change the css for the opposite side stack using the (active)barStyle prop.

[2016-08-07 03:07] pburtchaell commented on #83
@hakunin Does this resolve your issue?

[2016-08-07 03:13] pburtchaell commented on #82
Sorry for the delayed response. I will get back to you this week.

[2016-08-07 07:07] hakunin commented on #83
Its more of a suggestion. I went with the other package for notification as I don't have to hack it to make it work like I need.

[2016-08-07 07:07] #83 closed

[2016-08-08 01:36] pburtchaell commented on #82
@tvedtorama The short answer is right now you can't. I will mark this as a requested feature. I don't have the time now to implement it, but if you are available and interested in implementing it, please feel free!

[2016-08-08 10:25] tvedtorama commented on #82
@pburtchaell Thank you for the feed back!  I might be able to look into this, but not right now.  For my current needs your library works perfectly.

[2016-08-09 13:27] marcuskyril opened #84 "Trigger add notification function programmatically"
Hello.

I'm working on a dashboard that receives notification data at 10 second intervals. I was wondering if there's a way to add a new notification whenever I receive this data?

Thanks!

[2016-08-09 19:13] BerkeleyTrue commented on #84
Hello @marcuskyril,

React-notification does not directly control the notification queue. You should be able to add notifications to the stack by adding them to the notifications array passed to NotificationStack component.

[2016-08-10 03:40] marcuskyril commented on #84
Thanks @BerkeleyTrue! I'm kinda new to this React thingy. How do I achieve this?

[2016-08-10 21:41] pburtchaell commented on #84
@marcuskyril, you will need to wrap the notification component in another component and maintain an array of notifications in the state. You can [check the examples](https://github.com/pburtchaell/react-notification/tree/master/examples), which use an immutable data library. Note: immutable is not necessary for all cases; you can use the component without it.

[2016-08-11 20:17] #84 closed

[2016-08-19 01:15] pouu69 opened #85 "babel-preset-es2015 does not polyfill Object.assign"
IE11

Object.assign error cause

why?

[2016-08-19 01:21] BerkeleyTrue commented on #85
@pouu69 Please be more descriptive of the issue.

Can you provide steps to reproduce?
A stack trace?

[2016-08-19 01:51] pouu69 commented on #85
sorry im korean i can speak english a little

anyway

error message : Object doesn't support property or method 'assign'  dist/stackedNotification.js 65 line

[2016-08-19 02:24] BerkeleyTrue commented on #85
Hey @pouu69
How about steps to reproduce?

[2016-08-19 02:27] pouu69 commented on #85
sorry i can't explain.
it is very complex

i think Object.assign is not supported in IE

so you must rebuild with 'babel-plugin-transform-object-assign' plugin

[2016-08-19 02:41] BerkeleyTrue commented on #85
@pouu69 Object assign is already polyfilled by babel using es2015 preset. You can verify that by looking at the dist file yourself.

[2016-08-19 07:32] pouu69 commented on #85
really ? but dist/~~.js  use Object.assign method

hmm i don;t know why

[2016-08-31 02:05] pburtchaell commented on #85
Closing because the issue is not directly related to the middleware.

[2016-08-31 02:46] BerkeleyTrue commented on #85
@pouu69 Some investigation turned up the fact that Object.assign is not automatically polyfilled by babel-preset-es2015. This is counterintuitive but nonetheless the source of the bug.

[2016-08-31 02:52] BerkeleyTrue commented on #85
I've updated the title to reflect that.

[2016-09-01 12:56] achtan opened #88 "Permanent notifications"
Hi, i have some notifications that i don't want to hide (dismiss) unless user clicks on it...
`{dismissAfter:0}` not working

[2016-09-01 13:26] achtan opened #89 "pass Notification to barStyleFactory"
my calculation of `bottom` depends on `Notification.key`

[2016-09-01 17:07] BerkeleyTrue commented on #89
Hello @achtan

Can you provide more details of your use case?

[2016-09-02 05:14] achtan commented on #89
if I set `Notification.key = 'timer'` then I want to show this notification on left top corner, but if `Notification.key` is any other value than should by shown in left bottom corner

[2016-09-03 18:48] BerkeleyTrue commented on #89
Sounds like you have two different stacks, is that correct?

[2016-09-03 19:01] achtan commented on #89
hmm, yes that's true

[2016-09-03 19:42] BerkeleyTrue commented on #89
It might be easier to use two StackNotification components. That way each can have their own lifecycles and styles.

[2016-09-04 02:08] pburtchaell commented on #88
@achtan, this is currently not a feature. However, if you would like to make a PR, I'd be happy to implement it.

[2016-09-04 02:09] pburtchaell commented on #88
There was some work done for this in PR #67.

[2016-09-04 02:11] pburtchaell commented on #89
Yes, you would want to use two notification stack components, @achtan.

[2016-09-04 02:11] #89 closed

[2016-09-04 04:25] #85 closed

[2016-09-14 14:45] cristian-sima opened #91 "Allow Immutable.List (or Iterable) to be passed"
Let's take this code:

[code]

The code works, but in the console I have this error:

[code]

[2016-09-14 14:47] cristian-sima opened #92 "Allow Immutable.List (or Iterable) to be passed"
Let's take this code:

[code]

The code works, but in the console I have this error:

[code]

**I will lose the benefits of Immutable** if I change the code to `Immutable.List().toArray (or toJS))` as presented [here](http://stackoverflow.com/a/28060606/2415167)

Also [here](http://stackoverflow.com/a/37285430/2415167).

Other comment:

[2016-09-14 17:04] #91 closed

[2016-09-16 15:07] pburtchaell commented on #88
This is released in `react-notification@6.2.0`.

[2016-09-16 15:07] #88 closed

[2016-09-16 15:13] pburtchaell commented on #92
Looks like what we need to do here is update the value of [`NotificationStack.propTypes. notifications`](https://github.com/pburtchaell/react-notification/blob/master/src/notificationStack.js#L50) to allow any Iterable, not just an Array. I'm fine with this. Do you know what the value should be changed to? I don't have any experience adding validation for Immutable objects. It looks like [react-im

[2016-09-16 18:48] cristian-sima commented on #92
Yep.

[code]

[2016-09-16 18:49] cristian-sima commented on #92
Or just do not check the notifications. I think this is the best  way

[2016-09-16 18:52] BerkeleyTrue commented on #92
@cristian-sima Does react except an immutable lists of elements in place of an array of elements?

[2016-09-16 18:54] cristian-sima commented on #92
@BerkeleyTrue I thi8nk you've intended to ask if it `accepts`. Yes. It accepts, as the `Immutable.List` is a type of Iterable (which must contain a `.map`, a `.filter` and so on)

[2016-09-17 06:23] achtan commented on #88
`{dismissAfter:false}` not working, notification will autohide after 2s

[2016-09-17 20:33] cristian-sima commented on #92
@BerkeleyTrue

But in either case you want to do it, I will appreciate very much if you want to solve it.

It appears all day as a strange warning and I can not turn it off

[2016-09-20 02:45] pburtchaell commented on #92
The component should always check props. It's useful when debugging.

I don't want to add any dependencies.

The only solution would be to add custom validation based off code from  [react-immutable-proptypes](https://www.npmjs.com/package/react-immutable-proptypes). However, this is a micro-optimization and I don't have time to add this now. If you'd like a take a stab at it @cristian-sima, that

[2016-09-20 02:55] BerkeleyTrue commented on #92
Looking through the cod here https://github.com/facebook/immutable-js/blob/master/src/Iterable.js#L39

It doesn't look like that propType check would work outside of Immutable types so we would end up with warnings for everything other than Immutable Iterable.

[2016-09-20 02:57] pburtchaell commented on #92
It's possible to write a custom prop validation that checks for either an Array or an Iterable. Look for the `customProp` example here: https://facebook.github.io/react/docs/reusable-components.html.

[2016-09-20 03:10] joeybaker commented on #92
[react-immutable-prototypes](https://www.npmjs.com/package/react-immutable-proptypes) solves this nicely.

[2016-09-20 03:11] BerkeleyTrue commented on #92
@joeybaker As mentioned above, that only checks for immutable iterables and not iterables in general

https://github.com/HurricaneJames/react-immutable-proptypes/blob/master/src/ImmutablePropTypes.js#L32

[2016-09-20 03:14] pburtchaell commented on #92
Correct, @joeybaker, but I'd like to keep the project dependency free and as @BerkeleyTrue mentioned, the check from that library is for an immutable Iterable only. To resolve this issue, we need to adapt the code from that library to be a custom prop validation that checks for both an immutable Iterable and an Array.

[2016-09-20 03:19] BerkeleyTrue commented on #92
Could it be this simple?
[code]

[2016-09-20 03:21] pburtchaell commented on #92
I think the first step of this would employ the use of `Array.isArray`. If that condition fails, then test if the prop an immutable Iterable. I'm not sure what the best condition for the Iterable would be. If `map` works, then let's use that.

[2016-09-20 03:23] BerkeleyTrue commented on #92
Yes, checking for `map` would prevent strings, which are iterable, from passing validation.

[2016-09-20 10:35] leshek-pawlak commented on #88
I've fixed it. https://github.com/pburtchaell/react-notification/pull/95

[2016-09-20 16:01] BerkeleyTrue commented on #88
@achtan Can you open a separate issue?

[2016-09-20 16:35] achtan opened #96 "NotificationStack dismissAfter:false not working"
{dismissAfter:false} not working, notification will autohide after 2s
(continue of #88 )

[2016-09-20 16:35] achtan commented on #88
done

[2016-09-22 11:19] cristian-sima commented on #92
Is it working in this way?

[2016-09-24 16:32] pburtchaell commented on #96
There is a pull request open at #94.

[2016-10-06 13:31] cristian-sima commented on #92
@pburtchaell @BerkeleyTrue  ?

[2016-10-06 13:33] pburtchaell commented on #92
I'm not available in terms of time to implement this feature. If you need
it now, please submit a pull request!

On Oct 6, 2016 08:31, "Cristian Sima" <notifications@github.com> wrote:

[2016-10-08 20:31] pburtchaell commented on #96
Your issue does not follow the contributing guidelines for this project. Please review these guidelines, then update and reopen your issue.

[2016-10-08 20:31] #96 closed

[2016-10-08 20:33] pburtchaell commented on #92
I'm closing because this is a micro-optimization. If you have time to implement a dependency free prop check, @cristian-sima, please create a PR.

[2016-10-08 20:33] #92 closed

[2016-10-09 19:44] achtan commented on #96
:D

[2016-10-09 19:49] achtan commented on #96
you added guidelines on Oct 8 and issue was created on Sep 20... so i will not recreate the issue, if it is not in you intention to fix you product, i dont rly case...

[2016-10-09 20:20] pburtchaell commented on #96
Guidelines have existed since before September 20. On October 9, I expanded those guidelines with more information directly related to issues.

Regardless, as I commented on #90, this feature works as expected. I could be mistaken, but I've verified [the test](https://github.com/pburtchaell/react-notification/blob/master/test/notification.js#L239) and [added a permanent notification to the example

[2016-10-16 01:34] #82 closed

[2016-10-16 01:41] pburtchaell commented on #82
This is released as `react-notification@6.3.0`. See [release notes](https://github.com/pburtchaell/react-notification/releases/tag/6.3.0). Thank you, @ecfairle!

[2016-10-18 05:35] idpocky commented on #80
For adding a click event to the notification item(the whole wrapper), I added an `<a />`tag into the message, just like this:
[code]
The rendered html is:
[code]
It worked. But the animation of dismiss will lose while clicking the item. So I think add a definition of itemClick with the deactivate func is a good idea.

[2016-10-26 07:39] cristian-sima commented on #92
@pburtchaell @BerkeleyTrue I think there is no simple way of checking if that is an Iterable in a free dependency way. However, I am thinking of another way of approaching this problem.

We can create a new branch called `support-immutablejs` which contains this dependency `react-immutable-proptypes` (and implicity the `immutable` dependecy). Taking into account that those interested in using `sup

[2016-10-26 12:16] pburtchaell commented on #92
Hey, @cristian-sima. I think this would work, but I would rather not maintain official support for Immutable. If you would like to maintain a Immutable supported fork of the project for your own purposes, please do.

[2016-11-23 10:17] kof opened #101 "Looks like a typo WebKittransition"
Looks like  a typo, should be WebkitTransition, no?
https://github.com/pburtchaell/react-notification/blob/master/src/notification.js#L61

[2016-11-23 15:15] pburtchaell commented on #101
Yes, that is correct, it should be `WebkitTransition`.

[2016-11-23 17:02] pburtchaell commented on #101
Patched in https://github.com/pburtchaell/react-notification/commit/b158752e7d037f3df7f503f572db829039f27af3 and released as `react-notification@6.5.1`.

[2016-11-23 17:02] #101 closed

[2016-11-23 17:03] kof commented on #101
thanks.

[2016-11-25 09:16] giuseppeg opened #103 "Multiple line text support"
Hi @pburtchaell thanks for this great component :)
Would it be hard to add multiline text support?

I imagine that we'd need to get a reference to the dom node, grab its height and in turn update all of the tips `bottom` (or top) position. In this case maybe we'd need a new hook like `onActive` that runs at `componentDidMount` time.

I'd be glad to help.

[2016-11-25 16:14] pburtchaell commented on #103
Yeah, I think this would be possible.

Imagining how this could work:
1. Add multiple-line notification to the stack
2. Get height of multi-line notif
2. Store the height as `offSetPosition` (?)
3. Use `offSetPosition` to offset the position of the notif _above_ the multi line notif
4. When notification is removed, reset the value of `offSetPosition` to `0`

So if a multi-line notif has a height o

[2016-11-29 03:51] yoonwaiyan commented on #80
Any updates on this issue? I've seen both onClick and onDismiss but seems like onClick couldn't do much except deactivating the notification. I need a backend call to set my notification to "read" so that the same notification will not be displayed anymore but currently I can only do that in onDismiss, any way I can use onClick to get at least the "key" of the notification so that I can pass in to

[2016-11-30 05:11] valin0k opened #104 "Notifications from top to the bottom"
Hello, thanks for the great component. Is it possible to make notifications from top to the bottom?
If i add class for className like this:
`
top: 1rem !important;
bottom: auto !important;
right: 1rem;
left: auto !important;`
It works, but all notifications shows at one place

[2016-12-01 04:34] pburtchaell commented on #104
You can't change the position styles with CSS. The notification styles are inline and, consequently, will always override CSS properties. If you use the `barStyleFactory` and `activeBarStyleFactory` factory properties, you can customize the styles and position the notification where you would like.

There is documentation on these properties in the README: https://github.com/pburtchaell/react-noti

[2016-12-01 04:34] #104 closed

[2016-12-01 15:23] benjasHu commented on #79
Any news of this implementation? @BerkeleyTrue

[2016-12-23 13:10] VladimirRubin commented on #103
I'm not sure about multi-line text in notifications, because `<span>` tag renders multi-line text in one line.

So i think we have three way to resolve this issue:

1. Add custom HTML messages as notification message (and client can send something like `<p>First Line<p><p>Second Line</p>` as message)
1. Use the `<pre>` tag instead of `<span>` for multi-lene formatting messages
1. Set the custom wi

[2016-12-23 19:58] giuseppeg commented on #103
@pburtchaell at work I went for a CSS only solution.

We show notifications on the top right corner, top to down. Instead of positioning each single notification I now position the entire stack container and `onDismiss` is invoked after the *css transition duration milliseconds* with `setTimeout`.

If the position of every notification is `relative` it can still be animated but can also grow in he

[2016-12-24 18:00] pburtchaell commented on #103
Yeah, @giuseppeg @vladimirRubin a CSS approach (customized with a prop value) would be best because it would allow for variability.

@giuseppeg, can you create new issue for this since it isn't directly related to this?

[2017-01-03 12:47] elisherer opened #109 "deactivate not working when used inside NotificationStack"
## Version Number
6.6.0
## Test Case
Deactivate not working when used in notifications under a NotificationStack.
## Steps to Reproduce
Create a NotificationStack and provide a notification which has an onClick function which uses the deactivate parameter.
## Expected Behavior
The deactivate call will be successful.
## Actual Behavior
Exception thrown:
[code]

[2017-01-03 12:48] elisherer commented on #109
This works on the previous version 6.5.2. Guessing it's because of the new global onClick change (not considering the deactivate function argument)

[2017-01-04 03:04] pburtchaell commented on #109
The docs don't mention this, but in this case, the `deactivate` argument is the second argument. Here is a test case for this:

[code]

I think this API is a bit confusing though, and I'd like to start working on a version 7 release with a more API.

Let me know if this resolves your issue! Sorry for the confusion.

[2017-01-05 04:17] sonhgc00016 opened #110 "setState error on NotificationStack"
## Version Number: 6.6.0

## Test Case
Add vast of notification at the same time

## Steps to Reproduce
Repeatedly click button addNotification

## Expected Behavior
Don't appear warning in inspect

## Actual Behavior
Appear **Warning: setState(...): Can only update a mounted or mounting component. This usually means you called setState() on an unmounted component. This is a no-op. Please check th

[2017-01-05 04:19] pburtchaell commented on #110
Does this error occur for the example?

[2017-01-05 04:19] #109 closed

[2017-01-05 05:03] sonhgc00016 commented on #110
@pburtchaell yes, this error occur in example, too

[2017-01-05 05:37] pburtchaell commented on #110
So, to confirm, this error occurs in production? Can you provide more code? How are you using the component?

[2017-01-05 07:28] sonhgc00016 commented on #110
This is my Notification component
[code]
and use it in
[code]

Click button Show Notification and wait for several second and warning will be occur

[2017-01-18 11:51] hwclass opened #113 "customized window colors for error, warning and information"
## 6.6.0

## Code Example
[code]

## Expected behavior
By adding this, we can have some notification windows customized by styling. For example today, this notification window comes defaultly with a white text with a black background. Maybe after adding "error" string for a "type" property, it can become red and if info, it can be light blue and so on. So we need a type property and a string value

[2017-01-20 01:03] pburtchaell commented on #113
I understand the need for this, but adding a type property for each style would add a lot of bloat to the library. In order to configure/customize the style, I would suggest using the `barStyle`, `activeBarStyle` and other style props.

These are [documented](https://github.com/pburtchaell/react-notification/blob/master/docs/guides/props.md#for-single-notification-component).

[2017-01-20 01:03] #113 closed

[2017-01-20 01:05] pburtchaell commented on #110
It is difficult to parse your code. Can you reduce your code to only what code is needed to reproduce the error? I'm going to close this issue for now because I can't reproduce on my end.

[2017-01-20 01:05] #110 closed

[2017-01-20 08:11] JuhG commented on #110
It's showing the same error for me too. Reproducing was easy, I cloned your repo and ran it, opened the Notification Tree example and clicked on the button for like 100 times. (It's already showing the warning for less notifications, but if you want to make sure.)

![notif](https://cloud.githubusercontent.com/assets/10765158/22140923/aca96b0a-deef-11e6-9d03-a699528a7e0d.png)

Thank you for taking

[2017-03-21 23:16] BamaBoy opened #114 "Update documentation to show correct parameters for onClick function"
Hi! The docs [says](https://github.com/pburtchaell/react-notification/blob/7f3d8aefc575f0fbbfb3a5da2726bc4a0654f43b/docs/guides/events.md) that  we can use `deactivate` function to set the notification to inactive. But this feature isn't working :worried:

## Version Number
6.6.0
## Code Example

[code]

## Expected behavior
When click on `dismiss` notification becomes inactive
## Actual Behavior

[2017-03-24 00:46] pburtchaell commented on #114
Sorry for the delay! I've been swamped this week. I'm going to try to take a look at this next week. In the meantime, would you mind [looking at the test](https://github.com/pburtchaell/react-notification/blob/master/test/notificationStack.js#L15) for this feature and making a PR that demonstrates the bug? If you can, that would be immensely helpful.

Alternatively, @joeyfigaro or @BerkeleyTrue mi

[2017-04-04 12:48] joeyfigaro commented on #114
@pburtchaell @BamaBoy I'll see about taking a look at this later today.

[2017-04-04 12:56] BamaBoy commented on #114
@pburtchaell @pburtchaell Thanks for answers! Sorry for delay :(
Actually it's not a bug. `onClick` function get's two arguments: notification and `deactivate` function.
It wasn't obvious for me, that `deactivate` function is a second argument.
You can close this.

Thanks for your answers again!!!

[2017-04-04 14:09] pburtchaell commented on #114
@BamaBoy gotcha! That's our mistake then. It looks like [the documentation](https://github.com/pburtchaell/react-notification/blob/master/docs/introduction.md) doesn't correctly list the parameters of the `onClick` function.

I'm reopening this issue until one of us can make a quick update to the docs. 👍

[2017-04-10 14:47] qoalu opened #115 "npm install fails"
## Version Number
6.6.0
## Steps to Reproduce
git clone ***
npm install

## Expected Behavior
installs
## Actual Behavior
[code]

[2017-04-12 17:21] pburtchaell commented on #115
What is your operating system?

[2017-04-15 16:25] pburtchaell commented on #115
This looks like it is because you do not have npm installed. If you Google the error, there will be plenty of guides to help you: https://www.google.com/#q='`npm'+is+not+recognized+as+an+internal+or+external+command,+operable+program+or+batch+file.

[2017-04-15 16:27] #115 closed

[2017-04-19 11:28] qoalu commented on #115
I am on Windows, thanks, I will see if I can still run it

[2017-04-21 22:29] shantp commented on #110
Just installed this component today and I'm seeing this setState error when using NotificationStack. Why is the issue closed?

[2017-04-22 19:58] pburtchaell commented on #110
Can you provide more information, e.g., example code?

[2017-04-26 07:11] haolinj commented on #110
Hi @shantp, I encountered the same issue, after a bit of digging in the code, I found that this is due to the `NotificationStack` will add 1 second to the `dismissAfter`:
File notificationStack.js line 37: `if (!dismissNow) dismissAfter += index * 1000;`

This incremented `dismissAfter` will be used to create `StackedNotification`. So in file stackedNotification.js line 38: `this.dismissTimeout =

[2017-04-26 09:14] EmmaHansson opened #117 "Notification bar style"
Unfortunately, I don't know how to normally override one style element.
The component uses left: 1rem by default. But it causes to issue when you have left pane for example in bootstrap.

How to change this style to left: auto ?

[2017-04-26 11:50] pburtchaell commented on #117
Assuming you are using the `NotificationStack` component, [there are props for custom styles](https://github.com/pburtchaell/react-notification/blob/master/docs/guides/styles.md#barstylefactory-and-activebarstylefactory-notificationstack-props) to reposition each notification.

You can also just these the `style` prop as you would normally.

[code]

[2017-04-26 17:42] EmmaHansson commented on #117
It's not so simple then.
Let's assume a scenario when I popup messages in following order. If message count even then the style should be red, and when it's odd then style should be green. Background colors I mean.

So using, setState() I may change styles I guess. OK. But in this case all bars will be the same color changing all after each popup. How to resolve this happy case ? :)

[2017-04-27 01:56] pburtchaell commented on #117
The function for `activeBarStyleFactory` does provide the `index` parameter, which is an integer unique to each notification. For example, if you have two notifications, the indexes would be `0` and `1`. That _could_ solve your issue, but I think you'd probably still run into issues.

A better solution would be to provide the notification to you:

[code]
I'm not available right now to implement th

[2017-05-07 14:50] pburtchaell commented on #114
Resolved in https://github.com/pburtchaell/react-notification/commit/2beea2e983d633f909a8d0d7759a773116a6c1da

[2017-05-07 14:50] #114 closed

[2017-05-07 14:51] pburtchaell commented on #103
Marking with the help wanted label and closing because there hasn't been any progress since December. If you'd like to revisit this with a PR, please just reopen the issue.

[2017-05-07 14:51] #103 closed

[2017-05-07 14:52] pburtchaell commented on #80
Marking with the help wanted label and closing because there hasn't been any progress since last July. If you'd like to revisit this with a PR, please just reopen the issue.

[2017-05-07 14:52] #80 closed

[2017-05-09 06:26] noxan opened #120 "Version 6.6.2 missing on NPM"
Version `6.6.2` does not exist on NPM.

While version `6.6.1` shows the following message:
```warning react-notification@6.6.1: An extraneous dependency was erroneously added to 6.6.1. Please update to 6.6.2 to remove this dependency.```

[2017-05-09 06:27] pburtchaell commented on #120
Fixed!

[2017-05-09 06:27] #120 closed

[2017-05-09 06:29] noxan commented on #120
Wow, what an absolutely impressive reaction time. Thanks for the effort, keep it up! 👍

[2017-05-10 01:05] #117 closed

[2017-05-10 01:07] pburtchaell commented on #117
Thanks to a PR from @BamaBoy, this has been implemented in version `6.7.0`. 💯

[2017-05-10 03:36] EmmaHansson commented on #117
Please update manual/wiki also for this param.

[2017-05-10 03:38] pburtchaell commented on #117
[It has already been updated](https://github.com/pburtchaell/react-notification/blob/master/docs/guides/styles.md#barstylefactory-and-activebarstylefactory-notificationstack-props).

[2017-05-20 06:12] AymericG opened #121 "Two children with the same key"
I am getting this error when using a React component in lieu of message: https://gyazo.com/47207e774cf5a7de5226995e5c73e002

My code preparing the message props: https://gyazo.com/c9c8b3f40ed7eaee50f22738e61e0e8b

What am I missing?

[2017-05-20 06:14] AymericG commented on #121
It happens when I show multiple notifications, and one of them is 'leaving'

[2017-05-20 13:15] pburtchaell commented on #121
The error message you've provided doesn't have anything to do with the `message` prop. You're passing in two notifications with the same key `0` and that's throwing an error in React. Can you provide more code, preferably the entire component in JSBin?

[2017-05-21 04:25] AymericG commented on #121
​I have tried adding key in multiple places (note that it works when I only
use text):

This is my render function:
https://gyazo.com/ed3de1272815e55bece1b2b8c9a4a8e4
This is my mapToStateProps function:
https://gyazo.com/1fdb5e754841d65955fee46452b60fb5
This is my addNotification function:
https://gyazo.com/0201ce96a712f37372ca5018ac3ead9d

*Aymeric* Gaurat-Apelli
Founder of WeekPlan
http://weekp

[2017-05-21 12:29] pburtchaell commented on #121
The `key` doesn't go on the message. It should be included in the notification object ([see example](https://github.com/pburtchaell/react-notification/blob/master/examples/notification-tree/index.js#L30)). You'll want to update your `mapStateToProps` function to fix this.

This error is caused by you having two notifications with the same key and isn't an issue with the library. Make sure you neve

[2017-05-22 02:04] #121 closed

[2017-05-22 02:05] pburtchaell opened #122 "Upgrade to WebPack 2.x"
We need to upgrade the build to use WebPack v2.

[2017-05-22 03:51] AymericG commented on #121
Thanks for the great help. Found out that my reducer was setting the key property incorrectly. It is working now.

(And yes, sorry for the screenshots.)

[2017-05-22 13:07] YozhEzhi opened #123 "Need help of styling single <Notification />."
I want to style single Notification instance.
What I've tried with no results...
[code]
What I'm doing wrong?

[2017-05-22 13:22] BamaBoy commented on #123
@YozhEzhi You can't use style factories to customize single notification style.
You should pass `activeBarStyle`, `barStyle` props to `Notification`.
Something like that:
[code]

[2017-05-22 13:36] YozhEzhi commented on #123
@BamaBoy Wow, thanks for quick  response!
And sorry for my blindness. :)
![Docs](http://dl3.joxi.net/drive/2017/05/22/0001/1889/128865/65/b865d903a4.jpg)

[2017-05-22 13:36] #123 closed

[2017-06-12 17:59] tomgutz opened #125 "Show up on the right side"
Hi, any chance the notificaiton show up on the right-bottom side of the screen. I saw the code for stacked notification and it seems the style for left absolute position is directly injected or inline styled.

[2017-06-12 19:10] BamaBoy commented on #125
@tomgutz Yep. You can add `barStyleFactory`, `activeBarStyleFactory` to `NotificationStack` component.
Here's some code example:

[code]

[2017-06-12 19:34] tomgutz commented on #125
Yeah I kinda noticed it. And I was at the moment experimenting for the right combination to make it work. Thanks! Appreciate the tip!

[2017-06-12 19:34] #125 closed

[2017-06-13 04:54] corydeppen opened #127 "Prevent ESLint errors when building on Windows"
While working on a PR and building the source, I received over 1,000 `linebreak-style` ESLint errors due to being on a Windows machine that checked out files using CRLF linebreaks. I've seen numerous GitHub [conversations](https://github.com/airbnb/javascript/pull/1224) about this across various projects, including the note on the [docs page for the ESLint rule](http://eslint.org/docs/rules/linebr

[2017-06-16 23:05] iBasit commented on #82
still buggy

[2017-06-17 19:55] pburtchaell commented on #127
Yes, let's fix this. Does #127 resolve this for you?

[2017-06-17 20:43] #122 closed

[2017-06-17 23:24] corydeppen commented on #127
Yes, #128 clears up those errors.

However, one last Windows hurdle (sorry)...

Windows chokes on the `"./bin/test.sh"` path in the `test` script and only works if I changes to backslashes. Using [cross-env](https://github.com/kentcdodds/cross-env) handles the existing path as expected on Windows, though.

`"test": "cross-env ./bin/test.sh"`

Would you be open to giving that a go?

[2017-06-30 13:01] stephane-r opened #132 "Invalid prop 'dismissAfter' with mobx-react"
Hi :)

I would like use react-notification with **mobx-react**. I've create my store with **NotificationBox** component, but l've error about prop dismissAfter :

## Version Number
Latest

## Code Example
[code]

## Error message
[code]

[2017-06-30 16:01] pburtchaell commented on #132
What is the type of `store.dismissAfter`?

[2017-06-30 18:09] stephane-r commented on #132
I've try with :

'dismissAfter="5000"`

So, type string.
But no result.

[2017-06-30 18:11] pburtchaell commented on #132
The type should be a number or boolean: https://github.com/pburtchaell/react-notification/blob/master/src/defaultPropTypes.js#L19-L22

[2017-06-30 18:11] #132 closed

[2017-07-06 20:25] brianespinosa commented on #110
@haolinj thanks for digging into that. Your workaround looks like solves our issue for now.

@pburtchaell based on the above, I think this issue should be reopened so someone can take a look and submit a PR with a solution to handle this case without a workaround. Thoughts?

[2017-09-17 19:01] #127 closed

[2017-09-26 16:55] pburtchaell opened #135 "Add support for React 16"
https://twitter.com/reactjs/status/912712906407501825

[2017-09-26 16:57] #135 closed

[2017-09-26 16:58] pburtchaell opened #136 "Add support for React 16"
https://twitter.com/reactjs/status/912712906407501825

[2017-10-07 00:00] corydeppen commented on #115
Just to relate this to the PR that resolved the issue of `` `npm bin` `` not running on Windows, see #129.

[2017-10-08 13:28] #136 closed

[2017-10-08 13:28] pburtchaell commented on #136
Released in `react-notification@6.8.1`.

[2018-06-27 16:44] pburtchaell opened #141 "Update GitHub Issue Templates"
We should update the issue templates, as GitHub now allows for multiple template types.

[2018-06-27 16:45] pburtchaell opened #142 "Implement GitBook and Update Docs"
I'm implementing GitBook for my OSS projects. [It's done for this project](https://github.com/pburtchaell/redux-promise-middleware), which could be a good model.

I'd also like to update the docs, improving the structure and checking for errors.

[2018-06-27 16:47] pburtchaell opened #143 "Update Examples to Use Parcel"
I'd like to switch the examples from Webpack to Parcel. Parcel is zero-config, making it well suited for examples. Webpack (with Babel) is well suited for production apps, but for the examples it's cumbersome to maintain and run.

[2018-06-27 16:59] pburtchaell opened #146 "Add/Test React Native Support"
It might be good if we added RN support. This would be a large effort to do correctly, I think, but it is worth looking into. For now I'm marking the issue as a draft.

[2018-06-27 17:02] #142 closed

[2018-06-28 15:53] #141 closed

[2018-07-03 05:47] SilencerWeb opened #148 "Add hosted examples"
It would be cool if u deploy ur examples at least on github pages because it is much easier to open a link and see all examples instead of cloning repo, installing dependencies and finally see examples

[2018-07-03 14:14] pburtchaell commented on #148
I agree this would be nice. It does take a bit more work than you would expect though.

I'm currently working on #143, which updates the build tool for the examples. I'm going to mark this as a good first issue. It would be nice for someone else to take this on.

[2018-08-24 16:47] #143 closed

[2018-12-28 22:02] BerkeleyTrue opened #151 "CSS modules"
Hello @pburtchaell,

Looking to add this to a new project which primarily uses css modules. Would you be open to a PR that would pass down classNames and disable cssInJs?

[2018-12-29 14:10] pburtchaell commented on #151
Cool. If you want to make any improvements to the current implementation, definitely. Perhaps just update this issue with the implementation details/thinking/etc. before you get too deep in the code.

I've been wanting to make some improvements to the way styles are handled. Using CSS modules could be cool because we could have support for different themes.

[2019-03-21 20:06] BerkeleyTrue opened #152 "NotificationStack.propTypes.action should accept a node."
When using NotificationStack to supply a action element that is something other than a string (in our case we are supplying a react element) React logs a proptype warning.

StackedNotification and Notification all use the defaultPropsTypes.action which gives you the option of using a Node.

easy fix would just to change the propType for action to use the defaultPropTypes property for the same valu

[2019-03-21 20:09] pburtchaell commented on #152
Makes sense! Feel free to do this.

[2019-07-26 00:18] #152 closed

[2019-10-09 19:54] NaveenDA opened #154 "Demo Link not working"
The demo link https://docs.psb.design/react-notification/ is showing 404 error

[2019-10-12 16:19] pburtchaell commented on #154
URL updated: https://pburtchaell.gitbook.io/react-notification/

[2019-10-12 16:19] #154 closed

[2019-10-27 15:37] pburtchaell opened #156 "Add React 16.9 Support"

[2019-11-11 15:20] #146 closed

[2019-11-11 15:20] #148 closed

[2019-12-20 16:01] pburtchaell opened #159 "Sunsetting project and archiving the repo in 2020"
Hi everyone,

I'm creating this issue because I plan to sunset the React Notification project and to archive the repo. I'm sunsetting the project for two reasons: one is practical and the other is personal.

The practical reason is because the [Material UI project provides the same component](https://material-ui.com/components/snackbars/), with support for React 16.9. The Material UI implementatio

[2019-12-20 16:03] pburtchaell commented on #159
cc @all-contributors

[2019-12-23 19:11] #156 closed

[2019-12-23 19:11] #159 closed